In [46]:
import pandas as pd

df = heart_failure_data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
heart_failure_data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [47]:
df = heart_failure_data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.shape

(299, 13)

In [48]:
df = heart_failure_data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.describe().style.background_gradient(cmap='Blues')

In [49]:
#Heart Failure Prediction model

import pandas as pd
from sklearn.tree import DecisionTreeClassifier

X = heart_failure_data.drop(columns = ['DEATH_EVENT'])
y = heart_failure_data['DEATH_EVENT']

model = DecisionTreeClassifier()
model.fit(X, y)

input_data = pd.DataFrame([[26, 0, 117, 2050, 1, 50, 742000, 0.8, 138, 0, 0, 278]], 
                          columns=['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 
                                   'ejection_fraction', 'high_blood_pressure', 'platelets', 
                                   'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'])
prediction = model.predict(input_data)

# Output the prediction
print(prediction)

[0]

In [50]:
#testing accuracy

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = heart_failure_data.drop(columns = ['DEATH_EVENT'])
y = heart_failure_data['DEATH_EVENT']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

prediction = model.predict(X_test)
# Output the prediction
print(prediction)

score = accuracy_score(y_test, prediction)
score

[0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0]

0.7166666666666667